body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 5px 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 3px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.container{
  max-width:1200px;
}

#currentDay {
  color: #333;
  font-size: 1.3rem;
  font-weight: 600;
}

#scheduler {
  margin-top: 38px;
  margin-left: 30px;
  display: inline-block;
  padding-bottom: 120px;
}
#time{
  width: 40px;
  height: 40px;
}
.task{
  font-size: 1.1rem;
  width: 70%;
  height:auto;
  border: 1px solid grey;
  border-right: none;
} 
.hour{
  font-size: 1.2rem;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #808082;
  border: 1px solid grey;
  border-bottom: 1px solid white;
  padding: 20px 0 0 0;
}
.hourLabel,
.taskLabel{
  font-size:1.3rem;
  text-align: center;
  background-color:#333;
  color:white;
  padding: 10px;
  width: 80%;
}
.hourLabel{
  border-right: 1px solid white;
}
.timeBlock{
  position: relative;
  top: 20px;
}
.save{
  background-color: #5bafd8;
  border: 1px solid grey;
  border-left:none;
  width:10%;
  background-image: url("../images/save.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.save:hover,
.save:active:hover
 {
    background-color:orange;
}
#save0:disabled,#save0[disabled],
#save1:disabled,#save1[disabled],
#save2:disabled,#save2[disabled],
#save3:disabled,#save3[disabled],
#save4:disabled,#save4[disabled],
#save5:disabled,#save5[disabled],
#save6:disabled,#save6[disabled],
#save7:disabled,#save7[disabled],
#save8:disabled,#save8[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.fas{
  transform: rotate(90deg);
  color:white;
  font-size: 1.2rem;
}
/* Jumbrron*/
.display-3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.lead {
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px){
.jumbotron {
    padding: 1rem 2rem 1rem;
    border-bottom: 1px solid grey;
}
}
