body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 5px 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 3px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/**************************************

**************************************/
.container{
  max-width:1200px;
}
/* Jumbrron*/
.display-3 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.lead {
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px){
.jumbotron {
    padding: 1rem 2rem 1rem;
    border-bottom: 1px solid grey;
}
}
#currentDay {
  color: #333;
  font-size: 1.3rem;
  font-weight: 600;
}
/* datepicker*/
.ui-widget {
  font-size: .9em;
  border: none;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default{
  border:none;
}
.ui-state-default:hover{
  background-color: #6fd1fe !important;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  display: inline-block!important;
  width:100%;
}
.ui-widget-header .ui-icon {
	width:16px;
	height:16px;
	background-position: 0 0;
	padding: 0;
}
span.ui-icon.ui-icon-circle-triangle-w{
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/**************************************

**************************************/
#datepicker {
  top: 37px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  left: 10px;
}
#scheduler {
  margin-top: 38px;
  display: inline-block;
  padding-bottom: 120px;
}
#schedule{
  padding-bottom: 30px;
}
#scheduleDate{
  font-size: 1.5rem;
  color:#0078ca;
}
#time{
  width: 40px;
  height: 40px;
}
.task{
  font-size: 1.1rem;
  width: 70%;
  height:auto;
  border: 1px solid grey;
  border-right: none;
  /* border-bottom: 0; */
} 
/* .task.last{
  border-bottom: 1px solid grey;
}  */
.hour{
  font-size: 1.2rem;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #808082;
  border: 1px solid grey;
  border-bottom: 1px solid white;
  padding: 20px 0 0 0;
}
.hourLabel,
.taskLabel{
  font-size:1.3rem;
  text-align: center;
  background-color:#333;
  color:white;
  padding: 10px;
  width: 80%;
}
.hourLabel{
  border-right: 1px solid white;
}
table, th, td {
  border: 1px solid #b1b1b1;
  border-collapse: collapse;
}
#scheduler th{
  font-size: 1.25rem;
  padding:6px;
  text-align: center;
}
.timeBlock{
  position: relative;
  top: 20px;
}
.save{
  background-color: #5bafd8;
  border: 1px solid grey;
  border-left:none;
  width:10%;
  background-image: url("../images/save.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.save:hover,
.save:active:hover
 {
    background-color:orange;
}
#save0:disabled,#save0[disabled],
#save1:disabled,#save1[disabled],
#save2:disabled,#save2[disabled],
#save3:disabled,#save3[disabled],
#save4:disabled,#save4[disabled],
#save5:disabled,#save5[disabled],
#save6:disabled,#save6[disabled],
#save7:disabled,#save7[disabled],
#save8:disabled,#save8[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.fas{
  transform: rotate(90deg);
  color:white;
  font-size: 1.2rem;
}
/********/
@media (min-width: 992px){
  #scheduler{
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83% !important;
}
.row{
  margin: 0 0 0 15px;
}
}
@media (min-width: 768px) and (max-width:991px){
  #scheduler{
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 75% !important;
}
.row{
  margin: 0 0 0 15px;
}
}
